@import 'tailwindcss';

.press_start {
  font-family: 'Press Start 2P', cursive;
}

.orbitron_400 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}

.orbitron_500 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

.orbitron_600 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

.orbitron_700 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.orbitron_800 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
}
.orbitron_900 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
}

@theme {
  --color-primary: #f97316;
  --color-accent: #fb923c;
  --color-emphasis: #c2410c;
  --color-warning: #fcd34d;
  --color-background: #fdfaf6;
  --color-text: #0f172a;
  --color-muted: #9ca3af;
}